{% extends "base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}
<div class="container">
    <h3>Schedule: {{ date_range }}  <a class="waves-effect waves-light btn light-blue accent-2" style="float:right" href="game_add">Add Game</a></h3>
    <h6><a href="./schedule?start_date={{prior_week}}">Prior Week</a>&nbsp&nbsp&nbsp&nbsp<a href="./schedule?start_date={{next_week}}">Next Week</a></h6>
    <table>
        <thead>
        <tr>
            <th>League</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Field</th>
            <th>Date</th>
            <th>Time</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

            {% for game in schedule_data %}
                <tr>
                    <td>{{game.league_name}}</td>
                    <td class="blue-text clickable" onclick="location='team?team_id={{game.home_team_id}}'">{{game.home_team_name}}</td>
                    <td class="blue-text clickable" onclick="location='team?team_id={{game.away_team_id}}'">{{game.away_team_name}}</td>
                    <td>{{game.field_name}}</td>
                    <td>{{game.game_date}}</td>
                    <td>{{game.game_time}}</td>
                    <td>
                        {% if game.home_score is not none %}
                            {{game.home_score}}-{{game.away_score}}
                        {% endif %}
                    </td>
                    <td nowrap>
                        <a href="./game_modify?game_id={{ game.game_id }}"><i class="material-icons">edit</i></a>
                        <a href="./game_delete?game_id={{ game.game_id }}"><i class="material-icons">delete</i></a>
                        <a href="./playing_time?game_id={{ game.game_id }}"><i class="material-icons">person</i></a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}

