{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/admin/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alertifyjs/css/alertify.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alertifyjs/css/themes/default.css') }}"/>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        $(document).ready(function(){
            $('select').material_select();
        });

        function submit_form() {
            let club_name = $('input[name="club_name').val();
            let room_nbr = $('input[name="club_room_nbr').val();
            let desc = $('textarea[name="club_desc').val();
            let max_nbr = $('input[name="club_max_nbr').val();

            if (!club_name || !room_nbr || !desc || !max_nbr)
                Materialize.toast('Please Fill Out All Fields Before Submitting', 3000);
            else
                $('#edit_club').submit();
        }
    </script>

<script type="text/javascript" src="{{ url_for('static', filename='alertifyjs/alertify.min.js') }}"></script>

{% endblock %}

{% block content %}
<form id="edit_club" method="post">
        <div id="box" class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h3 class="title" >Edit Club</h3>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="club_name" name="club_name" type="text" value="{{ club.name }}" required>
                    <label for="club_name">Club Name</label>
                </div>

                <div class="input-field col s6">
                    <input id="club_max_nbr" name="club_max_nbr" type="text" value="{{ club.max_nbr }}">
                    <label for="club_max_nbr">Max Students</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <select id="club_day" name="club_day">
                        {% for d in days %}
                        {% if d.type_cde == club.type_cde %}
                        <option value="{{ d.type_cde }}" selected>{{ d.type_name }}</option>
                        {% else %}
                        <option value="{{d.type_cde}}">{{ d.type_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <label for="club_day">Meeting Day/Time</label>
                </div>

                <div class="input-field col s6">
                    <input id="club_room_nbr" name="club_room_nbr" type="text" value="{{ club.room_nbr }}">
                    <label for="club_room_nbr">Room Number</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="club_desc" name="club_desc" class="materialize-textarea" required>{{ club.description }}</textarea>
                    <label for="club_desc">Description</label>
                </div>
            </div>

            <div class="center-align">
                <a onclick=submit_form() class="waves-effect waves-light btn light-blue accent-2">Save</a>
            </div>
        </div>
    </form>

{% endblock %}

