{% extends "base.html" %}

{% block title %}Standings{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/public/standings.css') }}"/>
{% endblock %}

{% block content %}
<div class="container">
    <h2 align="center">Standings</h2>

    <ul class="collapsible">
        {% for league in rankings %}
            <li>
                <div class="collapsible-header"><i class="material-icons">chevron_right</i>{{league.league_name}}</div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                        <tr>
                            <th>Team</th>
                            <th>Record</th>
                            <th>Ranking Points</th>
                        </tr>
                        </thead>

                        <tbody>
            {% for team in league.team_list %}
                    <tr>
                        <td class="blue-text clickable" onclick="location='team?team_id={{team.team_id}}'">{{ team.team_name }}</td>
                        <td>{{ team.W }}W-{{ team.L }}L-{{ team.T }}T</td>
                        <td>{{ team.points }}</td>
                    </tr>
            {%  endfor %}
                        </tbody>
                </table>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {});
    });
</script>
{%  endblock %}